.Button {
  cursor: pointer;
  color: var(--text-color);
  padding: 6px 16px;
  display: flex;
  align-items: center;

  &:hover {
    color: var(--accent-color);

    .addonLeft svg, .addonRight svg {
      color: var(--accent-redesigned);
    }
  }
}

.withAddon {
  padding: 0 16px;
}

.addonLeft, .addonRight {
  display: flex;
}

.addonRight svg, .addonLeft svg {
  color: var(--hint-redesigned);
}


.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.filled {
  background: var(--card-bg-color);
  border: none;
  outline: none;
  border-radius: 34px;
}

.outline {
  background: none;
  border-radius: 34px;

  &:hover {
    border: 2px solid var(--accent-color);
  }

  &.normal {
    border: 2px solid var(--accent-color);
  }

  &.error {
    border: 2px solid var(--cancel-color);
  }

  &.success {
    border: 2px solid var(--save-color);
  }
}

.square {
  padding: 0;
}

.disabled {
  opacity: 0.5;
}

.fullWidth {
  width: 100%;
}
