:root {
  --bg-color: #ebecf0;
  --accent-color: #17875a;
  --text-color: #14303f;
  --hint-color: #ADBCC0;
  --cancel-color: #FF7777;
  --save-color: #62DE85;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // card
  --card-bg-color: #FFF;

  // listbox
  --listbox-bg: #d5d5d7;
}
